<header class="header">
  <div class="header__inner">
    <div>
      <div class="header__logo">
        <img src={props.icons.logo} alt=""/>
      </div>
      <nav class="header__nav">
        <!--        <NavLink to={"/"} class="" {setActive}>Главная</NavLink>-->
        <!--        <NavLink to={"/collection_points"} class="" {setActive}>Пункты сбора</NavLink>-->
        <!--        <NavLink to={"/eco_market"} class="" {setActive}>ЭкоМаркет</NavLink>-->
        <!--        <NavLink to={"/service"} class="" {setActive}>О сервисе</NavLink>-->
      </nav>
    </div>
    <div class="header__configuration">
      <div class="geo">
        <!--        <NavLink to={"#"}>-->
        <!--          <img src={props.icons.geo} alt=""/>-->
        <!--          <span>{props.userData.city}</span>-->
        <!--        </NavLink>-->
      </div>
      <div class="balance">
        <img src={props.icons.coin} alt=""/>
        <span>баналс</span>
      </div>
      <div class="account">
        <!--        <NavLink to={"/account"}>-->
        <!--          <img class="" {style.ava} src={!props.isAuthorized ? props.icons.login : props.userData.ava} alt=""/>-->
        <!--          <span>{!props.isAuthorized ? "Войти" : props.userData.name}</span>-->
        <!--        </NavLink>-->
      </div>
      <div class="nav__mobile">
        <!--        <NavLink to={"/nav_mobile"}>-->
        <!--          <span/>-->
        <!--        </NavLink>-->
      </div>
    </div>
  </div>
</header>
